body {
	border : 15px solid #bdc3c7;
	padding:20px;
    width: 700px;
    margin: 20px auto;
    width:70%;

}
h1 {
	font-family: Source Sans Pro
}
.class { 
   color: #3498db;	
 }
h1+div {
	border-left-width: : 2px solid gray;
	border-left: 10 px;
	font-family : Source Sans Pro;

} 